* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: #f0f4f8;
}

.to-do-list {
  width: 700px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 40px;
  margin: 50px 0;
}

header {
  background-color: rgb(59 130 246);
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;
  color: white;
}

.form {
  padding: 20px 40px;
}

.profile-header {
  margin-top: 20px;
}

.profile-header p {
  margin-bottom: 10px;
}

input[name="keyword"] {
  padding: 12px 16px;
  width: 100%;
  outline-color: rgb(59 130 246);
  border: 1px solid black;
  border-radius: 4px;
}

.priority,
.due-date {
  display: flex;

  justify-content: space-between;
  margin-top: 20px;
}

select[name="priority"] {
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid black;
}

select[name="priority"]:focus {
  border: 1px solid rgb(59 130 246);
  outline: none;
  border-radius: 4px;
}

input[type="date"] {
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid black;
}

input[type="date"]:focus {
  border: 1px solid rgb(59 130 246);
  outline: none;
  border-radius: 4px;
}

.submit {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0px;
  margin-top: 20px;
  background-color: rgb(37 99 235);
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.taks-list {
  text-align: center;
  padding: 0 40px;
}

.to-do h2,
.done h2,
.overdue h2 {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 0px;
  margin-top: 20px;
  background-color: #e0f0ff;
  color: #3b82f6;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.delete {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0px;
  margin-top: 20px;
  background-color: #ff4c4c;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.item-list {
  width: 100%;
  padding: 15px 20px;
  background-color: #f9f9f9;
  color: black;
  font-size: 18px;
  border: none;
  text-align: left;
  margin-bottom: 2px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.red-bg {
  background-color: #ffe6e6;
  color: red;
}

.item-list:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-done-list {
  background-color: #e0e0e0;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 900px) {
  .to-do-list {
    width: 500px;
    margin: 50px 20px;
  }
}

@media (max-width: 600px) {
  .to-do-list {
    width: auto;
    max-width: 400px;
    margin: 50px 10px;
  }
}
